{% extends "base_layout.html" %}

{%  block content %}
<style>
    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    .btn-outline-secondary:focus {
        background-color: silver;
        color: #4f4f4f;
        border-color: #aaaaaa;
    }
</style>
<h2><strong>Респондент <i>{{ person }}</i> Частные признаки.</strong></h2>
<br>
<form method="GET">
    <h3>Выберите множества для показа</h3>
    <select name="first_set">
        <option value="0">---------</option>
        {% for set in sets %}
        <option value="{{ set.pk }}">{{ set }}</option>
        {% endfor %}
    </select>

    <select name="second_set">
        <option value="0">---------</option>
        {% for set in sets %}
        <option value="{{ set.pk }}">{{ set }}</option>
        {% endfor %}
    </select>

    <button onclick="window.location.reload()">Отобразить</button>
    <br><br>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><b>Редактировать проявление</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
      <div class="modal-body">
          <h9>Введите новое значение для проявления</h9>
            <br>
            {% csrf_token %}
            <input hidden="True" name="writing_id" id="writing_id" value="" />
            <input name="amount_sign" id="amount_sign" type="number" value="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <input type="submit" name="saveModal" type="button" class="btn btn-primary" value="Сохранить"></input>
      </div>
        </form>
    </div>
  </div>
</div>


<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<table id="table1" class="display table compact">
    {% if true_set %}
<caption><strong>{{ true_set }}</strong>
    <p> <strong>Транскрипция: </strong>
    {% for tr in true_transcription %}
        {{tr}}
    {% endfor %}
    </p>
    </caption>
 <thead>
  <tr>
    <th hidden="True">delete</th>
    <th hidden="True">PK</th>
    <th hidden="True">AMNT</th>
    <th>Номер</th>
    <th>Признак</th>
    <th>Значение</th>
    <th>Конкретизация значения</th>
	<th>Проявление</th>
    <th></th>
  </tr>
 </thead>
 <tbody>
  {% for p in part_for_true_set %}
  <tr>
    <td hidden="True">{% url 'delete_partial_writing' true_set.person_id p.pk %}</td>
    <td hidden="True">{{ p.pk }}</td>
    <td hidden="True">{{ p.amount_sign }}</td>
	<td>{{ p.partial_sign.get_number}}</td>
	<td>{{ p.partial_sign }}</td>
	<td>{{ p.partial_sign.partial_sign_value }}</td>
      {% if p.partial_sign_value_concretization %}
        <td>{{ p.partial_sign_value_concretization }}</td>
      {% else %}
      <td></td>
      {% endif %}
	<td>{{p.amount_sign}}/{{p.amount_all}}</td>
    <td></td>
  </tr>
  {% endfor %}
   </tbody>
    {% endif %}
  </table>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<table id="table2" class="display table compact">
{% if false_set %}
<caption><strong>{{ false_set }}</strong>
        <p> <strong>Транскрипция: </strong>
    {% for tr in false_transcription %}
        {{tr}}
    {% endfor %}
    </p>
  </caption>
  <thead>
  <tr>
    <th hidden="True">delete</th>
    <th hidden="True">PK</th>
    <th hidden="True">AMNT</th>
    <th>Номер</th>
    <th>Признак</th>
    <th>Значение</th>
    <th>Конкретизация значения</th>
	<th>Проявление</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for p in part_for_false_set %}
  <tr>
    <td hidden="True">{% url 'delete_partial_writing' false_set.person_id p.pk %}</td>
    <td hidden="True">{{ p.pk }}</td>
    <td hidden="True">{{ p.amount_sign }}</td>
	<td>{{ p.partial_sign.get_number}}</td>
	<td>{{ p.partial_sign }}</td>
	<td>{{ p.partial_sign.partial_sign_value }} </td>
      {% if p.partial_sign_value_concretization %}
        <td>{{ p.partial_sign_value_concretization }}</td>
      {% else %}
      <td></td>
      {% endif %}
	<td>{{p.amount_sign}}/{{p.amount_all}}</td>
    <td></td>
  </tr>
  {% endfor %}
  </tbody>
    {% endif %}
  </table>
</div>
</div>
<br>
<div style="width:100%" align="center">
    {% if true_set or false_set %}
    <p><strong>Добавить новый признак</strong></p>
    <form method="POST" id="partForm"
          data-letters-url="{% url 'ajax_load_letters' %}"
          data-part-values-url="{% url 'ajax_load_part_values' %}"
          data-first-elements-url="{% url 'ajax_load_part_fle' %}"
          data-second-elements-url="{% url 'ajax_load_part_sle' %}"
          data-first-elem-concret-url="{% url 'ajax_load_part_flec' %}"
          data-second-elem-concret-url="{% url 'ajax_load_part_slec' %}" novalidate>
        {% csrf_token %}
        <table>
        {{gen_form.as_table}}
        </table>
<br>
        <button class="btn btn-outline-secondary" type="submit">Добавить</button>

    <!--<br>
    <p><strong>Выбрать набранный признак</strong></p>

        {% csrf_token %}
        <select name="all_pw">
            <option value="0">---------</option>
            {% for p in all_pw %}
            <option value="{{ p.pk }}">{{ p.partial_sign.get_str_pw }}</option>
            {% endfor %}
      </select>
        <input type="submit" name="saveQuick" value="Добавить" > -->
    </form>
    <br>
    <div>
        <button onclick="location.href='{% url 'part_sign_type_person' person.pk %}'">Редактировать признаки </button>
        <button onclick="editValue('{% url 'part_sign_type_person' person.pk %}')">Редактировать значения выбранного признака</button>
        <button onclick="location.href='{% url 'part_sign_value_concretization' person.pk %}'">Редактировать конкретизации значений</button>
        <br><br>
        <button onclick="location.href='transcription'">Добавить транскрипцию</button>
    </div>
    <br>
    <div>
    <button onclick="location.href='{% url 'person_detail' person.pk %}'">Вернуться к множествам респондента</button>
    </div>

  {% endif %}
</div>
{% endblock %}

{% block js %}
<script>
    function editValue(href) {
      type =  $("#id_partial_sign_type").val();
      location.href = href + type + '/part_sign_value'
    };

    function editConcretization(href) {
      le =  $("#id_first_letter_element").val();
      location.href = href + le + '/letter_concretization'
    };

    function editConcretizationSecond(href) {
      le =  $("#id_second_letter_element").val();
      location.href = href + le + '/letter_concretization'
    };
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
  $(document).ready( function () {
    // HIDE INPUTS
    $('#id_first_letter').hide();
    $('label[for="id_first_letter"]').hide ();
    $('#id_first_letter_element').hide();
    $('label[for="id_first_letter_element"]').hide ();
    $('#id_first_letter_element_concretization').hide();
    $('label[for="id_first_letter_element_concretization"]').hide ();


    $('#id_second_letter').hide();
    $('label[for="id_second_letter"]').hide ();
    $('#id_second_letter_element').hide();
    $('label[for="id_second_letter_element"]').hide ();
    $('#id_second_letter_element_concretization').hide();
    $('label[for="id_second_letter_element_concretization"]').hide ();


    $('#id_partial_sign_type').hide();
    $('label[for="id_partial_sign_type"]').hide ();
    $('#id_partial_sign_value').hide();
    $('label[for="id_partial_sign_value"]').hide ();
    $('#id_partial_sign_value_concretization').hide();
    $('label[for="id_partial_sign_value_concretization"]').hide ();


    $('#id_relation_between_concretizations').hide();
    $('label[for="id_relation_between_concretizations"]').hide();
    $('#id_amount').hide();
    $('label[for="id_amount"]').hide();

    if ($('#table2 tr').length != 0) {
    var table2 = $('#table2').DataTable({

        "columnDefs": [
            {
            "targets": -1,
            "data": null,
            "defaultContent": "<button id='delete' class='btn btn-link btn-sm'><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class='btn btn-link btn-sm' data-toggle='modal'><i class=\"fa fa-pencil\"></i></button>"
            },
        ],
                    language: {
                        'search' : 'Поиск по таблице:',
                        'paginate': {
                                "next":       "Вперед",
                                "previous":   "Назад"
                        },
                        'info': "Показано c _START_ по _END_ из _TOTAL_ записей",
                    },
                    "bLengthChange": false,
                    pageLength: 5,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: []
        }
       }
    );

    $('#table2 tbody').on( 'click', '#delete', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        if (confirm("Вы уверены, что хотите удалить признак подписи?")) {
                location.href = data[0];
        }
    } );


    $('#table2 tbody').on( 'click', '#edit', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        $(".modal-body #amount_sign").val( data[2] );
        $(".modal-body #writing_id").val( data[1] );
        $('#exampleModal').modal('show');
    } );
    }



   var table1 = $('#table1').DataTable({

        "columnDefs": [
            {
            "targets": -1,
            "data": null,
            "defaultContent": "<button id='delete' class='btn btn-link btn-sm'><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class='btn btn-link btn-sm' data-toggle='modal'><i class=\"fa fa-pencil\"></i></button>"
            },
        ],
                    language: {
                        'search' : 'Поиск по таблице:',
                        'paginate': {
                                "next":       "Вперед",
                                "previous":   "Назад"
                        },
                        'info': "Показано c _START_ по _END_ из _TOTAL_ записей",
                    },
                    "bLengthChange": false,
                    pageLength: 5,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: []

        }}
    );

   $('#table1 tbody').on( 'click', '#delete', function () {
        var data = table1.row( $(this).parents('tr') ).data();
        if (confirm("Вы уверены, что хотите удалить признак подписи?")) {
                location.href = data[0];
        }
    } );

    $('#table1 tbody').on( 'click', '#edit', function () {
        var data = table1.row( $(this).parents('tr') ).data();

        $(".modal-body #amount_sign").val( data[2] );
        $(".modal-body #writing_id").val( data[1] );
        $('#exampleModal').modal('show');
    } );

} );

    $("#id_set").change(function () {
      var url = $("#partForm").attr("data-letters-url");
      var setId = $(this).val();


      $.ajax({
        url: url,
        data: {
          'set': setId
        },
        success: function (data) {
          $("#id_first_letter").html(data);
          $("#id_second_letter").html(data);

          $('#id_first_letter').show();
          $('label[for="id_first_letter"]').show ();
          //$('#id_second_letter').show();
          //$('label[for="id_second_letter"]').show ();
        }
      });
    });

    $("#id_partial_sign_type").change(function () {
      var url = $("#partForm").attr("data-part-values-url");
      var typeId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'partial_sign_type': typeId
        },
        success: function (data) {
          $("#id_partial_sign_value").html(data);
          $('#id_partial_sign_value').show();
          $('label[for="id_partial_sign_value"]').show();
          $('#id_amount').show();
          $('label[for="id_amount"]').show();
          $('#id_partial_sign_value_concretization').show();
          $('label[for="id_partial_sign_value_concretization"]').show();
        }
      });
    });

    $("#id_first_letter").change(function () {
      var url = $("#partForm").attr("data-first-elements-url");
      //var typeId = $(this).val();
      var typeId = $(this).find(':selected').data('letter');
      $.ajax({
        url: url,
        data: {
          'first_letter': typeId
        },
        success: function (data) {
          $("#id_first_letter_element").html(data);
          $('#id_first_letter_element').show();
          $('label[for="id_first_letter_element"]').show();
        }
      });
    });

    $("#id_second_letter").change(function () {
      var url = $("#partForm").attr("data-second-elements-url");
      var typeId = $(this).find(':selected').data('letter');
      $.ajax({
        url: url,
        data: {
          'second_letter': typeId
        },
        success: function (data) {
          $("#id_second_letter_element").html(data);
          $('#id_second_letter_element').show();
          $('label[for="id_second_letter_element"]').show();
        }
      });
    });

     $("#id_first_letter_element").change(function () {
      var url = $("#partForm").attr("data-first-elem-concret-url");
      var typeId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'first_letter_element': typeId
        },
        success: function (data) {
          $("#id_first_letter_element_concretization").html(data);
          $('#id_first_letter_element_concretization').show();
          $('label[for="id_first_letter_element_concretization"]').show();
        }
      });
    });

    $("#id_first_letter_element_concretization").change(function () {
            $('#id_second_letter').show();
            $('label[for="id_second_letter"]').show ();
            $('#id_partial_sign_type').show();
            $('label[for="id_partial_sign_type"]').show ();
      });


    $("#id_second_letter_element").change(function () {
      var url = $("#partForm").attr("data-second-elem-concret-url");
      var typeId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'second_letter_element': typeId
        },
        success: function (data) {
          $("#id_second_letter_element_concretization").html(data);
          $('#id_second_letter_element_concretization').show();
          $('label[for="id_second_letter_element_concretization"]').show ();
        }
      });
    });

  </script>
{% endblock %}