{% extends 'base_layout.html' %}

{% block content %}
<br>
<form method="POST">
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <input type="submit" value="Сохранить" style="margin-left:170px; margin-top:20px">
    </form>
    <button onclick="location.href = '{% url 'person_list' %}'" style="margin-left:170px; margin-top:20px">Назад</button>
{% endblock %}