{% extends "base_layout.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
<style>
    /*div {*/
    /*    overflow-y: scroll;*/
    /*}*/

    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    .form-control {
        font-size: 14px;
    }

</style>
{% endblock %}
{%  block content %}
<div class="container" style="max-width: 100%">
    <div class="row">
        <div class="col-md-2">
            <div class="card bg-light">
                <div class="card-header">
                    Выберите параметры:
                </div>
                <form class="">
        <div class="form-group" style="padding: 5px;">

            <label for="select_qstnr">Опросник:</label>
            <select class="form-control" id="select_qstnr" name="select_questionnaire">
                {% for questionnaire in questionnaires %}
                <option value="{{questionnaire.questionnaire_id}}" {% if questionnaire.questionnaire_id == questionnaire_id %} selected="selected" {% endif %}>
                    {{questionnaire}}
                </option>
                {% endfor %}
            </select>
            <label for="select_partitioning">Разбиение:</label>
            <select class="form-control" id="select_partitioning" name="select_partitioning">
                {% for partitioning in partitionings %}
                <option value="{{partitioning.partitioning_scale_name_id}}" {% if partitioning.partitioning_scale_name_id == partitioning_scale_name_id %} selected="selected" {% endif %}>
                    {{partitioning}}
                </option>
                {% endfor %}
            </select>
            <label for="select_resps_minimum">Минимум респондентов в гипотезе:</label>
            <input type="number" min="1" max="5" class="form-control" id="select_resps_minimum"
                   name="resps_minimum" value="{{resps_minimum}}">
            <label for="div_param">Деление на + и - :</label>
            <select class="form-control" id="div_param" name="div_param">
                <option value="1" {% if div_param == 1 %} selected="selected" {% endif %}>
                    по полу респондентов
                </option>
                <option value="2" {% if div_param == 2 %} selected="selected" {% endif %}>
                    по шкале "Возбудимость" (ОЧХ)
                </option>
            </select>
            <label for="select_gen_elem">Cходства признаков подписей по:</label>

            <select name="sim_signs" class="form-control" id="select_gen_elem"
                    name="select_gen_elem">
                <option value="gen_elem" {% if is_gen_elem %} selected {% endif %}>
                    обобщенные элементы
                </option>
                <option value="groups" {% if not is_gen_elem %} selected {% endif %}>
                    группы
                </option>
            </select>
        </div>
                                    <button class="btn btn-primary" type="submit">Применить</button>
                </form>
            </div>

        </div>
        <div class="col-md">
            <div class="card bg-white">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <b>Положительные гипотезы: {{div_plus}}</b><br>
                        Всего гипотез: {{ quantity_plus }}
                    </div>
                    <div class="col-md">
                        <b>Отрицательные гипотезы: {{div_minus}}</b><br>
                        Всего гипотез: {{ quantity_minus }}
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md" style="max-width: 50%">


                    <button class="show_direct btn btn-link btn-md" type="button" data-toggle="collapse"
                            data-target="#direct_plus"
                            aria-expanded="false" aria-controls="direct_plus"><strong>Гипотезы прямого метода</strong>
                        <i
                                class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ direct_quantity_plus }}</p>
                    <div class="collapse" id="direct_plus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in direct_hypotheses_plus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="show_direct btn btn-link btn-md" type="button" data-toggle="collapse"
                            data-target="#inverse_plus"
                            aria-expanded="false" aria-controls="inverse_plus"><strong>Гипотезы обратного
                        метода</strong> <i
                            class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ inverse_quantity_plus }}</p>
                    <div class="collapse" id="inverse_plus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in inverse_hypotheses_plus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="show_direct btn btn-link btn-md" type="button" data-toggle="collapse"
                            data-target="#both_plus"
                            aria-expanded="false" aria-controls="both_plus"><strong>Гипотезы и прямого, и обратного
                        метода</strong> <i
                            class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ both_quantity_plus }}</p>
                    <div class="collapse" id="both_plus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in both_hypotheses_plus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-link btn-md" type="button" data-toggle="collapse" data-target="#neither_plus"
                            aria-expanded="false" aria-controls="neither_plus"><strong>Не гипотезы</strong> <i
                            class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ neither_quantity_plus }}</p>
                    <div class="collapse" id="neither_plus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in neither_hypotheses_plus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md" style="max-width: 50%">
                    <button class="show_direct btn btn-link btn-md" type="button" data-toggle="collapse"
                            data-target="#direct_minus"
                            aria-expanded="false" aria-controls="direct_minus"><strong>Гипотезы прямого метода</strong>
                        <i
                                class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ direct_quantity_minus }}</p>
                    <div class="collapse" id="direct_minus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in direct_hypotheses_minus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="show_direct btn btn-link btn-md" type="button" data-toggle="collapse"
                            data-target="#inverse_minus"
                            aria-expanded="false" aria-controls="inverse_minus"><strong>Гипотезы обратного
                        метода</strong> <i
                            class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ inverse_quantity_minus }}</p>
                    <div class="collapse" id="inverse_minus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in inverse_hypotheses_minus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="show_direct btn btn-link btn-md" type="button" data-toggle="collapse"
                            data-target="#both_minus"
                            aria-expanded="false" aria-controls="both_minus"><strong>Гипотезы и прямого, и обратного
                        метода</strong> <i
                            class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ both_quantity_minus }}</p>
                    <div class="collapse" id="both_minus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in both_hypotheses_minus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-link btn-md" type="button" data-toggle="collapse"
                            data-target="#neither_minus"
                            aria-expanded="false" aria-controls="neither_minus"><strong>Не гипотезы</strong> <i
                            class="fa fa-caret-down"></i></button>
                    <p style="margin-left: 20px;">Количество гипотез: {{ neither_quantity_minus }}</p>
                    <div class="collapse" id="neither_minus">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                <th>Респонденты</th>
                                <th>Психологические характеристики</th>
                                <th>Признаки подписи</th>
                                </thead>
                                <tbody>
                                {% for hypothesis in neither_hypotheses_minus %}
                                <tr>
                                    {% for h in hypothesis %}
                                    <td>
                                        {% for el in h %}
                                        {{ el }}
                                        <br>
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>
<!--    <script>-->
<!--        $("select").change(function () {-->
<!--            $("form").submit()-->
<!--        });-->
<!--        $("input").change(function () {-->
<!--            $("form").submit()-->
<!--        });-->
<!--    </script>-->

    {% endblock %}
