{% extends "base_layout.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
<style>
    .container {
        /*margin-right: 5%;*/
        /*margin-left: 5%;*/
        max-width: 95%;
    }

    /*.form-control {*/
    /*    font-size: 14px;*/
    /*}*/
</style>
{% endblock %}

{%  block content %}
<div class="container">
    <h4>Сходства по опросникам и общим и обобщенным частным признакам подписей</h4>
<br>

<div class="nav row" name="navbar">
    <form class="form-inline">
        <div class="col-lg form-group">

            <label for="select_qstnr">Опросник:</label>
            <select class="form-control" id="select_qstnr" name="select_questionnaire">
                {% for questionnaire in questionnaires %}
                <option value="{{questionnaire.questionnaire_id}}" {% if questionnaire.questionnaire_id == questionnaire_id %} selected="selected" {% endif %}>
                    {{questionnaire}}
                </option>
                {% endfor %}
            </select>
            <label for="select_partitioning">Разбиение:</label>
            <select class="form-control" id="select_partitioning" name="select_partitioning">
                {% for partitioning in partitionings %}
                <option value="{{partitioning.partitioning_scale_name_id}}" {% if partitioning.partitioning_scale_name_id == partitioning_scale_name_id %} selected="selected" {% endif %}>
                    {{partitioning}}
                </option>
                {% endfor %}
            </select>
            <label for="select_resps_minimum">Минимум респондентов в гипотезе:</label>
            <input type="number" min="1" max="5" class="form-control" id="select_resps_minimum"
                   name="resps_minimum" value="{{resps_minimum}}">

            <div class="w-100" style="margin: 5px;"></div>

            <label for="div_param">Деление на + и - :</label>
            <select class="form-control" id="div_param" name="div_param">
                <option value="1" {% if div_param == 1 %} selected="selected" {% endif %}>
                    по полу респондентов
                </option>
                <option value="2" {% if div_param == 2 %} selected="selected" {% endif %}>
                    по шкале "Возбудимость" (ОЧХ)
                </option>
            </select>
            <label for="select_gen_elem">Cходства признаков подписей по:</label>

            <select name="sim_signs" class="form-control" id="select_gen_elem"
                    name="select_gen_elem">
                <option value="gen_elem" {% if is_gen_elem %} selected {% endif %}>
                    обобщенные элементы
                </option>
                <option value="groups" {% if not is_gen_elem %} selected {% endif %}>
                    группы
                </option>
            </select>
        </div>
        <!--                <button type="submit">Применить</button>-->
    </form>
</div>
<br>


<div class="container">
    <h6>"+"-примеры: {{div_plus}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"-"-примеры: {{div_minus}}</h6>
    <br>
    <div class="row">
        <div class="col-lg">
            <p class="sub-header"><strong>Сходства по опроснику</strong></p>
            <div class="row">
                <div class="col-lg">
                    <p class="sub-header">Положительных сходств: {{ quantity_plus_q }}</p>
                    <hr>
                    {% for sim in sim_plus_q %}
                    <div class="row">
                        {% for s in sim %}
                        <div class="col-lg">
                            {% for el in s %}
                            {{ el }}
                            <br>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="col-lg">
                    <p class="sub-header">Отрицательных сходств: {{ quantity_minus_q }}</p>
                    <hr>
                    {% for sim in sim_minus_q %}
                    <div class="row">
                        {% for s in sim %}
                        <div class="col-lg">
                            {% for el in s %}
                            {{ el }}
                            <br>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg">
            <p class="sub-header"><strong>Сходства по подписям</strong></p>
            <div class="row">
                <div class="col-lg">
                    <p class="sub-header">Положительных сходств: {{ quantity_plus_hw }}</p>
                    <hr>
                    {% for sim in sim_plus_hw %}
                    <div class="row">
                        {% for s in sim %}
                        <div class="col-lg">
                            {% for el in s %}
                            {{el}}
                            <br>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="col-lg">
                    <p class="sub-header">Отрицательных сходств: {{ quantity_minus_hw }}</p>
                    <hr>
                    {% for sim in sim_minus_hw %}
                    <div class="row">
                        {% for s in sim %}
                        <div class="col-lg">
                            {% for el in s %}
                                    {{ el }}
                            <br>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

</div>

<!--</div>-->

<script>
    $("select").change(function () {
        $("form").submit()
    });
    $("input").change(function () {
        $("form").submit()
    });
</script>
{% endblock %}