{% extends "base_layout.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
<style>
    .col-container {
        display: table; /* Make the container element behave like a table */
        width: 100%; /* Set full-width to expand the whole page */
    }

    .col {
        display: table-cell; /* Make elements inside the container behave like table cells */
    }
</style>
{% endblock %}

{%  block content %}

<h3>Сходства по опросникам</h3>
<br>
<div class="nav" name="navbar">
    <form class="form-inline">
        <div class="form-group">

            <label for="select_qstnr">Опросник:</label>
            <select class="form-control" id="select_qstnr" name="select_questionnaire">
                {% for questionnaire in questionnaires %}
                <option value="{{questionnaire.questionnaire_id}}" {% if questionnaire.questionnaire_id == questionnaire_id %} selected="selected" {% endif %}>
                    {{questionnaire}}
                </option>
                {% endfor %}
            </select>
            <label for="select_partitioning">Разбиение:</label>
            <select class="form-control" id="select_partitioning" name="select_partitioning">
                {% for partitioning in partitionings %}
                <option value="{{partitioning.partitioning_scale_name_id}}" {% if partitioning.partitioning_scale_name_id == partitioning_scale_name_id %} selected="selected" {% endif %}>
                    {{partitioning}}
                </option>
                {% endfor %}
            </select>
            <label for="select_resps_minimum">Респондентов в сходстве:</label>
            <input type="number" min="1" max="5" class="form-control" id="select_resps_minimum"
                   name="resps_minimum" value="{{resps_minimum}}">
        </div>
<!--                <button type="submit">Применить</button>-->
    </form>
</div>
<div class="row">

    <div class="col-md-auto">
        <h4 class="sub-header">Количество положительных сходств: {{ quantity_plus }}</h4>
        <table class="table-striped">
            <thead>
            <th>Сходства</th>
            <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in sim_plus %}
            <tr>
                {% for s in sim %}
                <td>
                    {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-auto">
        <h4 class="sub-header">Количество отрицательных сходств: {{ quantity_minus }}</h4>
        <table class="table-striped">
            <thead>
            <th>Сходства</th>
            <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in sim_minus %}
            <tr>
                {% for s in sim %}
                <td>
                    {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <script>
        $("select").change(function () {
            $("form").submit()
        });
        $("input").change(function () {
            $("form").submit()
        });
    </script>
    {% endblock %}