{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
<style>
    .pers {
        color: forestgreen;
    }
    .pers:hover {
        color: darkgreen;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <h5>Список респондентов с описанными частными признаками, заполнивших опросники:</h5>
  <br>
  <div class="row">
    <div class="col-sm">
        ОСТ
      <ol>
        {% for person in person_list_1 %}
    <li>{{person}}</li>
    {% endfor %}
    </ol>
    </div>
    <div class="col-sm">
        ОЧХ
      <ol>
        {% for person in person_list_2 %}
    <li>{{person}}</li>
    {% endfor %}
    </ol>
    </div>
    <div class="col-sm">
        САН
      <ol>
        {% for person in person_list_3 %}
    <li>{{person}}</li>
    {% endfor %}
    </ol>
    </div>
      <div class="col-sm">
        БП
      <ol>
        {% for person in person_list_4 %}
    <li>{{person}}</li>
    {% endfor %}
    </ol>
    </div>
  </div>
</div>

{% endblock %}