{% extends 'base_layout.html' %}

{% block content %}
<style>
    a {
        color: forestgreen;
        font-size: 18px;
    }
    a:hover {
        color: darkgreen;
    }
</style>
<div class="container">
    <div class="row">
        <h4>Вы находитесь в ДСМ-системе, реализующей исследовательскую деятельность эксперта почерковеда</h4>
        <p>Для задач выявления связи между психофизиологическими характеристиками человека и особенностями
            его подписи на данный момент в системе реализованы возможности:</p>
        <div class="w-100"></div>
        <ul>
            <li>заполнение психологических опросников;</li>
            <li>просмотр результатов по шкалам;</li>
            <li>просмотр сходств по опросникам и подписям;</li>
            <li>просмотр потенциальных гипотез;</li>
            <li>классиификация гипотез по прямому и обратному варианту ДСМ-метода.</li>

        </ul>
        <div class="w-100"></div>
        <p>Для задач исследований подписи доступны возможности:</p>
        <div class="w-100"></div>
        <ul>
            <li>описание подписи при помощи общих признаков;</li>
            <li>описание подписи при помощи частных признаков, выключающее транскрипцию;</li>
            <li>редактирование признаков, значений признаков, букв, буквенных элементов и их конкретизаций;</li>
            <li>идентификация подписи;</li>
            <li>исследование информативность признаков подписи.</li>
        </ul>

    </div>
    <button class="btn btn-link"><a href="{% url 'person_list' %}">Перейти к списку респондентов ></a></button>

</div>

{% endblock %}