{% extends 'base_layout.html' %}

{% block content %}
<style>
    .text-left:hover {
        color: forestgreen;
        text-decoration: underline;
    }

    .text-left {
        color: darkgreen;
        text-decoration: underline;
    }

    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    a {
        color: forestgreen;
    }

    a:hover {
        color: darkgreen;
    }

</style>

<div class="container">
    <h4>Профиль респондента</h4>
    <hr>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-lg">
            <div class="row">
                <div class="col-md-auto">
                    <div class="row">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">{{ person.person_surname }} {{ person.person_name }}
                                {{ person.person_patronymic }}
                            </div>
                            <div class="card-body">
                                {% if person.position %}
                                <p><strong>Должность:</strong> {{ person.position }}</p>
                                {% endif %}
                                {% if person.birthday %}
                                <p><strong>Дата рождения:</strong> {{ person.birthday }}</p>
                                {% endif %}
                                {% if person.sex %}
                                <p><strong>Пол:</strong> {{ person.sex }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-auto">
                            <p><strong>Заполненные опросники:</strong></p>
                            {% if questionnaires %}
                            <ul>
                                {% for qstnr in questionnaires %}
                                <li>
                                    <a href="{% url 'tests' %}?select_person={{person.pk}}&select_questionnaire={{qstnr.pk}}&select_partitioning=2">{{qstnr}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>Заполненных опросников нет.</p>
                            <p><i style="font-size:18px; color: forestgreen" class="fa">&#xf06a;</i> Начните заполнение
                                с
                                <a href="{% url 'tests' %}?select_person={{person.pk}}&select_questionnaire=1&select_partitioning=2">ОСТ</a>
                            </p>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <p><strong>Множества подписей/расшифровок:</strong></p>
                    <div class="d-flex flex-column justify-content-start">
                        <button class='btn text-left' onclick="location.href='general_writing/'">Общие признаки</button>
                        <button class='btn text-left' onclick="location.href='partial_writing/'">Частные признаки
                        </button>
                        <button class='btn text-left'
                                onclick="location.href='{% url 'partial_writing_v2' person.pk %}'">
                            Частные признаки (параллельное заполнение)
                        </button>
                    </div>

                </div>
                <br>
                <div class="col">
                    {% for set in sets %}
                    <div class="d-flex flex-column">
                        <div style="margin-bottom: 5px;">
                            <td>
                                <button class="btn btn-link btn-xs" onclick="location.href = 'edit_set/{{set.set_id}}'">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button onclick="deleteSet({{set.set_id}})" class="btn btn-link btn-xs">
                                    <i class="fa fa-trash-o"></i></button>
                            </td>
                            <td>
                                {{ set }}
                            </td>
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <button class='btn btn-outline-secondary' onclick="location.href='add_set/'">Добавить новое
                        множество
                    </button>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
{% block js %}
<script>
    function deleteSet(set_id) {
        if (confirm("Вы уверены, что хотите удалить множество?")) {
            location.href = 'delete_set/' + set_id
        }
    }
</script>
{% endblock %}